/*
 * Copyright (C) 2018 Atmark Techno, Inc. All Rights Reserved.
 *
 * SPDX-License-Identifier: (GPL-2.0 OR MIT)
 */

#define ARMADILLO640_LCD70EXT_L00

/ {
	backlight_display: backlight-display {
		compatible = "pwm-backlight";
		pwms = <&pwm7 0 5000000>;
		brightness-levels = <0 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255>;
		default-brightness-level = <128>;
		power-supply = <&reg_bl>;
		status = "okay";
	};

	regulators: regulators0 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_5v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 15 GPIO_ACTIVE_HIGH>;
		};

		reg_bl: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-boot-on;
			regulator-always-on;
		};
	};

	i2c_gpio: i2c-gpio {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c_gpio>;
		gpios = <
			&gpio4 21 GPIO_ACTIVE_HIGH /* SDA */
			&gpio4 24 GPIO_ACTIVE_HIGH /* SCL */
		>;
		i2c-gpio,delay-us = <2>;

		status = "okay";

		touchpanel@51 {
			compatible = "hid-over-i2c";
			interrupt-parent = <&gpio4>;
			interrupts = <18 IRQ_TYPE_NONE>;
			reg = <0x51>;
			hid-descr-addr = <0x0001>;
			vdd-supply = <&reg_5v>;
			reset-gpio = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		};
	};
};

&pwm7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm7>;
	status = "okay";
};

&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	display = <&display0>;
	status = "okay";

	display0: display-0 {
		bits-per-pixel = <32>;
		bus-width = <18>;

		display-timings {
			timing0: timing {
				/* GT800X480A-1013P */
				clock-frequency = <29232000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <40>; /* 88(Blanking) - 48(pulse width) */
				hfront-porch = <40>;
				vback-porch = <29>; /* 32(Blanking) - 3(pulse width) */
				vfront-porch = <13>;
				hsync-len = <48>;
				vsync-len = <3>;
				de-active = <1>;
				pixelclk-active = <0>;
				hsync-active = <0>;
				vsync-active = <0>;
			};
		};
	};
};

&iomuxc {
	pinctrl_lcd70ext_l00hog: lcd70ext_l00hoggrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO04__GPIO1_IO04      0x1b0b0
			MX6UL_PAD_CSI_PIXCLK__GPIO4_IO18      0x1b0b0
			MX6UL_PAD_GPIO1_IO03__GPIO1_IO03      0x130b0 /* 18BIT_ENABLE */
		>;
	};

	pinctrl_pwm7: pwm7grp {
		fsl,pins = <
			MX6UL_PAD_CSI_VSYNC__PWM7_OUT   0x110b0
		>;
	};

	pinctrl_lcdif_dat: lcdifdatgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA00__LCDIF_DATA00  0x08
			MX6UL_PAD_LCD_DATA01__LCDIF_DATA01  0x08
			MX6UL_PAD_LCD_DATA02__LCDIF_DATA02  0x08
			MX6UL_PAD_LCD_DATA03__LCDIF_DATA03  0x08
			MX6UL_PAD_LCD_DATA04__LCDIF_DATA04  0x08
			MX6UL_PAD_LCD_DATA05__LCDIF_DATA05  0x08
			MX6UL_PAD_LCD_DATA06__LCDIF_DATA06  0x08
			MX6UL_PAD_LCD_DATA07__LCDIF_DATA07  0x08
			MX6UL_PAD_LCD_DATA08__LCDIF_DATA08  0x08
			MX6UL_PAD_LCD_DATA09__LCDIF_DATA09  0x08
			MX6UL_PAD_LCD_DATA10__LCDIF_DATA10  0x08
			MX6UL_PAD_LCD_DATA11__LCDIF_DATA11  0x08
			MX6UL_PAD_LCD_DATA12__LCDIF_DATA12  0x08
			MX6UL_PAD_LCD_DATA13__LCDIF_DATA13  0x08
			MX6UL_PAD_LCD_DATA14__LCDIF_DATA14  0x08
			MX6UL_PAD_LCD_DATA15__LCDIF_DATA15  0x08
			MX6UL_PAD_LCD_DATA16__LCDIF_DATA16  0x08
			MX6UL_PAD_LCD_DATA17__LCDIF_DATA17  0x08
		>;
	};

	pinctrl_lcdif_ctrl: lcdifctrlgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_CLK__LCDIF_CLK	    0x08
			MX6UL_PAD_LCD_ENABLE__LCDIF_ENABLE  0x08
			MX6UL_PAD_LCD_HSYNC__LCDIF_HSYNC    0x08
			MX6UL_PAD_LCD_VSYNC__LCDIF_VSYNC    0x08
		>;
	};

	pinctrl_i2c_gpio: i2c-gpiogrp {
		fsl,pins = <
			MX6UL_PAD_CSI_DATA03__GPIO4_IO24  0x4001b8b1 /* SCL */
			MX6UL_PAD_CSI_DATA00__GPIO4_IO21  0x4001b8b1 /* SDA */
		>;
	};
};
