/*
 * Copyright (C) 2017 Yasushi SHOJI <yashi@atmark-techno.com>
 *
 * SPDX-License-Identifier: (GPL-2.0 OR MIT)
 */

/dts-v1/;

#include "imx6ull.dtsi"

/ {
	model = "Atmark Techno Armadillo-640";
	compatible = "atmark,a640", "fsl,imx6ull";

	chosen {
		stdout-path = &uart1;
	};

	memory {
		reg = <0x80000000 0x20000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		sw1 {
			label = "SW1";
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ENTER>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		red {
			label = "red";
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
		};
		green {
			label = "green";
			gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
		};
		yellow {
			label = "yellow";
			gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usbotg1_vbus: regulator-usbotg1vbus {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usbotg1_vbus>;
			compatible = "regulator-fixed";
			regulator-name = "USB_OTG1_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 19 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_usbotg2_vbus: regulator-usbotg2vbus {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usbotg2_vbus>;
			compatible = "regulator-fixed";
			regulator-name = "USB_OTG2_VBUS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 17 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_sd2_vmmc: regulator-sd2vmmc {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_sd2_vmmc>;
			compatible = "regulator-fixed";
			regulator-name = "VDD_SD2";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio4 10 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
		};
	};

	vbus_sel: vbus-sel {
		compatible = "imx6-vbus-sel";
		otg1-vbus-reg-supply = <&reg_usbotg1_vbus>;
		otg2-vbus-reg-supply = <&reg_usbotg2_vbus>;
	};

	backlight_display: backlight-display {
		compatible = "pwm-backlight";
		pwms = <&pwm7 0 5000000>;
		brightness-levels = <0 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255>;
		default-brightness-level = <128>;
		status = "okay";
	};

	regulators: regulators0 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_5v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 15 GPIO_ACTIVE_HIGH>;
		};
	};

	i2c_gpio: i2c-gpio {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c_gpio>;
		gpios = <
			&gpio4 21 GPIO_ACTIVE_HIGH /* SDA */
			&gpio4 24 GPIO_ACTIVE_HIGH /* SCL */
		>;
		i2c-gpio,delay-us = <2>;

		status = "okay";

		touchpanel@51 {
			compatible = "hid-over-i2c";
			interrupt-parent = <&gpio4>;
			interrupts = <18 IRQ_TYPE_NONE>;
			reg = <0x51>;
			hid-descr-addr = <0x0001>;
			vdd-supply = <&reg_5v>;
			reset-gpio = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
	uart-has-rtscts;
	dtr-gpios = <&gpio1 00 GPIO_ACTIVE_LOW>;
	dsr-gpios = <&gpio5 00 GPIO_ACTIVE_LOW>;
	dcd-gpios = <&gpio5 02 GPIO_ACTIVE_LOW>;
	rng-gpios = <&gpio5 01 GPIO_ACTIVE_LOW>;
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>;
	bus-width = <8>;
	no-1-8-v;
	non-removable;
	keep-power-in-suspend;
	wakeup-source;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	broken-cd;
	vmmc-supply = <&reg_sd2_vmmc>;
	no-1-8-v;
	non-removable;
	keep-power-in-suspend;
	wakeup-source;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO04__GPIO1_IO04      0x1b0b0
			MX6UL_PAD_CSI_PIXCLK__GPIO4_IO18      0x1b0b0
			MX6UL_PAD_GPIO1_IO03__GPIO1_IO03      0x130b0 /* 18BIT_ENABLE */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX 0x00008
			MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX 0x1b0b1
		>;
	};
	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6UL_PAD_UART3_TX_DATA__UART3_DCE_TX 0x00008
			MX6UL_PAD_UART3_RX_DATA__UART3_DCE_RX 0x1b0b1
			MX6UL_PAD_UART3_RTS_B__UART3_DCE_RTS 0x1b0b1
			MX6UL_PAD_UART3_CTS_B__UART3_DCE_CTS 0x00008
			MX6UL_PAD_GPIO1_IO00__GPIO1_IO00 0x00008 /*DTR*/
			MX6ULL_PAD_SNVS_TAMPER0__GPIO5_IO00 0x1b0b1/*DSR*/
			MX6ULL_PAD_SNVS_TAMPER2__GPIO5_IO02 0x1b0b1/*DCD*/
			MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01 0x1b0b1/*RI*/
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
		MX6UL_PAD_UART5_TX_DATA__UART5_DCE_TX 0x00008
		MX6ULL_PAD_UART5_RX_DATA__UART5_DCE_RX 0x1b0b1
		>;
	};

	pinctrl_enet1: enet1grp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO06__ENET1_MDIO	0x0b808
			MX6UL_PAD_GPIO1_IO07__ENET1_MDC		0x0b008
			MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00	0x0b010
			MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01	0x0b010
			MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN	0x1b0b0
			MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00	0x1b0b0
			MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01	0x1b0b0
			MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER	0x1b0b0
			MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN	0x1b0b0
			MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1	0x4001b018
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX6UL_PAD_SD1_DATA0__USDHC1_DATA0	0x17059
			MX6UL_PAD_SD1_DATA1__USDHC1_DATA1	0x17059
			MX6UL_PAD_SD1_DATA2__USDHC1_DATA2	0x17059
			MX6UL_PAD_SD1_DATA3__USDHC1_DATA3	0x17059
			MX6UL_PAD_NAND_READY_B__USDHC1_DATA4	0x17059
			MX6UL_PAD_NAND_CE0_B__USDHC1_DATA5	0x17059
			MX6UL_PAD_NAND_CE1_B__USDHC1_DATA6	0x17059
			MX6UL_PAD_NAND_CLE__USDHC1_DATA7	0x17059
			MX6UL_PAD_SD1_CLK__USDHC1_CLK		0x17059
			MX6UL_PAD_SD1_CMD__USDHC1_CMD		0x17059
			MX6UL_PAD_GPIO1_IO09__USDHC1_RESET_B	0x17059
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX6UL_PAD_NAND_DATA00__USDHC2_DATA0 0x10059
			MX6UL_PAD_NAND_DATA01__USDHC2_DATA1 0x10059
			MX6UL_PAD_NAND_DATA02__USDHC2_DATA2 0x10059
			MX6UL_PAD_NAND_DATA03__USDHC2_DATA3 0x10059
			MX6UL_PAD_NAND_RE_B__USDHC2_CLK     0x10069
			MX6UL_PAD_NAND_WE_B__USDHC2_CMD     0x10059
		>;
	};

	pinctrl_gpio_keys: gpiokeysgrp {
		fsl,pins = <
			MX6UL_PAD_JTAG_MOD__GPIO1_IO10     0x13080
		>;
	};

	pinctrl_gpio_leds: gpioledsgrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO05__GPIO1_IO05   0x00008
			MX6UL_PAD_GPIO1_IO08__GPIO1_IO08   0x00008
			MX6UL_PAD_UART1_CTS_B__GPIO1_IO18  0x00008
		>;
	};

	pinctrl_usbotg1_vbus: usbotg1vbusgrp {
		fsl,pins = <
			MX6UL_PAD_UART1_RTS_B__GPIO1_IO19  0x00008
		>;
	};

	pinctrl_usbotg2_vbus: usbotg2vbusgrp {
		fsl,pins = <
			MX6UL_PAD_CSI_MCLK__GPIO4_IO17     0x00008
		>;
	};

	pinctrl_sd2_vmmc: sd2vmmcgrp {
		fsl,pins = <
			MX6UL_PAD_NAND_ALE__GPIO4_IO10  0x00008
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX6UL_PAD_LCD_RESET__WDOG1_WDOG_ANY    0x30b0
			>;
	};

	pinctrl_pwm7: pwm7grp {
		fsl,pins = <
			MX6UL_PAD_CSI_VSYNC__PWM7_OUT   0x110b0
		>;
	};

	pinctrl_lcdif_dat: lcdifdatgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA00__LCDIF_DATA00  0x08
			MX6UL_PAD_LCD_DATA01__LCDIF_DATA01  0x08
			MX6UL_PAD_LCD_DATA02__LCDIF_DATA02  0x08
			MX6UL_PAD_LCD_DATA03__LCDIF_DATA03  0x08
			MX6UL_PAD_LCD_DATA04__LCDIF_DATA04  0x08
			MX6UL_PAD_LCD_DATA05__LCDIF_DATA05  0x08
			MX6UL_PAD_LCD_DATA06__LCDIF_DATA06  0x08
			MX6UL_PAD_LCD_DATA07__LCDIF_DATA07  0x08
			MX6UL_PAD_LCD_DATA08__LCDIF_DATA08  0x08
			MX6UL_PAD_LCD_DATA09__LCDIF_DATA09  0x08
			MX6UL_PAD_LCD_DATA10__LCDIF_DATA10  0x08
			MX6UL_PAD_LCD_DATA11__LCDIF_DATA11  0x08
			MX6UL_PAD_LCD_DATA12__LCDIF_DATA12  0x08
			MX6UL_PAD_LCD_DATA13__LCDIF_DATA13  0x08
			MX6UL_PAD_LCD_DATA14__LCDIF_DATA14  0x08
			MX6UL_PAD_LCD_DATA15__LCDIF_DATA15  0x08
			MX6UL_PAD_LCD_DATA16__LCDIF_DATA16  0x08
			MX6UL_PAD_LCD_DATA17__LCDIF_DATA17  0x08
		>;
	};

	pinctrl_lcdif_ctrl: lcdifctrlgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_CLK__LCDIF_CLK	    0x08
			MX6UL_PAD_LCD_ENABLE__LCDIF_ENABLE  0x08
			MX6UL_PAD_LCD_HSYNC__LCDIF_HSYNC    0x08
			MX6UL_PAD_LCD_VSYNC__LCDIF_VSYNC    0x08
		>;
	};

	pinctrl_i2c_gpio: i2c-gpiogrp {
		fsl,pins = <
			MX6UL_PAD_CSI_DATA03__GPIO4_IO24  0x4001b8b1 /* SCL */
			MX6UL_PAD_CSI_DATA00__GPIO4_IO21  0x4001b8b1 /* SDA */
		>;
	};
};

&usbotg1 {
	vbus-supply = <&reg_usbotg1_vbus>;
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&usbotg2 {
	vbus-supply = <&reg_usbotg2_vbus>;
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&usbphy2 {
	fsl,tx-d-cal = <106>;
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reset-gpios = <&gpio4 11 GPIO_ACTIVE_LOW>;
			reset-delay-us = <800>;
			reset-post-delay-us = <15000>;
			reg = <0>;
			clocks = <&clks IMX6UL_CLK_ENET_REF>;
			clock-names = "rmii-ref";

		};
	};
};

&snvs_poweroff {
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	timeout-sec = <10>;
	fsl,ext-reset-output;
};

&pwm7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm7>;
	status = "okay";
};

&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	display = <&display0>;
	status = "okay";

	display0: display {
		bits-per-pixel = <32>;
		bus-width = <18>;

		display-timings {
			timing0: timing {
				/* GT800X480A-1013R */
				clock-frequency = <30600000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <32>;
				hfront-porch = <13>;
				vback-porch = <88>;
				vfront-porch = <40>;
				hsync-len = <48>;
				vsync-len = <3>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};
